
html{
  background-size: 1400pt;
  background-color: #b7d3c0;
}

h1 {
  color:rgb(255, 255, 255);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
  
}

.circulo {
  margin-top: 10pt;
  margin-left: 525pt;
  width: 200pt; /* Set the container width to the desired size */
  height: 200pt; /* Set the container height to the desired size */
  border: 1px solid rgba(255, 128, 128, 0.1); /* Add a border to the container to fill the extra space */
  border-radius: 50%;
  box-sizing: border-box; /* Include the border in the container size */
  overflow: hidden; /* Hide any parts of the image that exceed the container */
}

.circulo img {
  width: 100%; /* Set the image width to 100% of the container width */
  height: 100%; /* Set the image height to 100% of the container height */
  object-fit: cover; /* Resize the image to cover the entire container while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
  display: block; /* Set the image to display as a block element */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

.quejas {
  margin-left: 300pt;
}

.formulario {
  margin-left: 620pt;
  margin-top: -30pt;
}

.about {
  margin-left: 950pt;
  margin-top: -30pt;
}


.botonlog {
  margin-top: 20pt;
  margin-left: 450pt;
}

.logindiv {
  margin-left: 200pt;
}

.registrodiv {
  margin-left: 200pt;
}


.chau{
  margin-left: 1200pt;
  margin-top: -20pt
}

#flash {border-radius: 25px; background:rgb(255, 148, 198, 0.5); width:400px; margin:0 auto; color:#8a004c; padding:10px; text-align:center;}



.quejitas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quejitas {
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #000;
  color: rgb(255, 255, 255);
  width: 400pt;
  justify-content: center;
  margin-top: 10pt;
  padding: 5pt;
  position: relative;
  margin-bottom: 10pt;
  margin-left: 500pt;
}

.dashboard-i {
  margin-left: 120pt;
  margin-top: -100pt;
}

.dashboard-i a {
  color:#d87fb0;
  font-size: 12pt;
}

.image-container {
  width: 100pt; /* Set the container width to the desired size */
  height: 100pt; /* Set the container height to the desired size */
  border: 1px solid rgba(255, 255, 255, 0.1); /* Add a border to the container to fill the extra space */
  border-radius: 50%;
  box-sizing: border-box; /* Include the border in the container size */
  overflow: hidden; /* Hide any parts of the image that exceed the container */
}

.image-container img {
  width: 100%; /* Set the image width to 100% of the container width */
  height: 100%; /* Set the image height to 100% of the container height */
  object-fit: cover; /* Resize the image to cover the entire container while maintaining aspect ratio */
  object-position: center; /* Center the image within the container */
  display: block; /* Set the image to display as a block element */
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}


.nombreperfil{
  margin-left: 610pt;
}


.home {
margin-left: 585pt;
margin-top: 20pt;
}
.cambio {
  margin-top: 20pt;
  margin-left: -20pt;
}


input[type=text] {
  padding-top: 10px;
  padding-right: 500px; 
  border:5px solid #ccc; 
  justify-content: right;
  width: 100px;
}
input[type=password] {
  padding-top: 10px;
  border:5px solid #ccc; 
  justify-content: right;
  width: 250px;
}

input {
caret-color: rgba(255, 77, 187, 0.507);
}

input[type=submit] {
transition: all .5s ease;
color: #000000;
border: 1px solid rgb(0, 0, 0);
text-transform: uppercase;
text-align: center;
line-height: 1;
font-size: 17px;
background-color : transparent;
outline: none;
padding:10px 25px; 
cursor:pointer;
}

input:hover {
color: #ffffff;
background-color: #000000;
}

a {
  color:#658670
}

.fechita input {
  border: none;
  text-align: center;
  line-height: 1;
  font-size: 10px;
  background-color : rgba(255, 0, 0, 0.1);
  outline: none;
}


textarea {
  width: 80%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ca6b87;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  margin-top: 10pt;
  margin-bottom: 20pt;
  margin-left: 150pt;
}

.ok {
  margin-left: 650pt;
}

