<!DOCTYPE html>
<html>
    
    <head>
        <link href="style.css" rel="stylesheet"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script type="module" src="ranteando.js"></script>
        <script src="database.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Fjalla One' rel='stylesheet'>
        <style>body {font-family: 'Fjalla One';font-size: 22px;}</style>
        <title>Quejas</title> 
    </head>
     <main> 
      {% block main %}
      {% endblock %}  
     </main>

</html>
