{% extends "base.html" %}

{% block main %}

<body>
    <div class="cambiofoto">
        <form action="/perfil" method="POST" enctype="multipart/form-data">
            <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
            <label>Nuevo avatar:</label>
            <input type="file" name="avatar"/>
            <!-- Submit Button -->
            <div class="botonlog">
                <input type="submit" value="Save">
            </div>
        </form>       
    </div>
</body>



{% endblock %}


