{% extends "base.html" %}

{% block main %}
<h1>Rantea aquí: </h1>

<div class="col-md-8">
  <form action="/queja" method="post">
    <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
      <div>
      <label>Nombre: {{usuario}}
      </div>
      <p>Queja:</p>
      <div class="campo">
      <textarea id="body" name= "body" placeholder="Be polite! (or don't)"></textarea>
      </div>
      <input class = "ok" type="submit" value="OK" />
  </form>
</div>
{% endblock %}
