{% extends "base.html" %}

{% block main %}
<body>
    <div class = 'usuarioinfo'> 
        <article class = 'sillylittleuser'> <!-- aqui meto los valores que iteran con i y los campos de req.session.userId en mysql-->
            <a href='/perfil'> USUARIO: {{usuario}}</a>
        </article>
        <article class = 'chau'>
            <a href='/logout'> Log out</a>
        </article>
    </div>

<script>
     document.addEventListener("DOMContentLoaded", function() {
          setTimeout(function () {
            var flash = document.querySelector("#flash");
            if (flash) {
              var opacity = 1;
              var timer = setInterval(function() {
                if (opacity <= 0.1) {
                  clearInterval(timer);
                  flash.style.display = "none";
                }
                flash.style.opacity = opacity;
                opacity -= opacity * 0.1;
              }, 150);
            }
          }, 3000);
        });
  </script>

{% if flashy %}
<div id="flash">
    <p>{{flashy}} {{usuario}}!</p>
</div>
{% endif %}


<h1>QUEJAS </h1>
<div class = "quejas">
    <form action="/dashboard">
        <input type="submit" value="Quejas" />
    </form>
</div>
<div class = "formulario">
    <form action="/form">
        <input type="submit" value="Formulario" />
    </form>
</div>
<div class = "about">
    <form action="/about">
        <input type="submit" value="About" />
    </form>
</div>

    {% for i in quejas %} <!-- QUEJAS VIENE DE LA VARIABLE EN EL JS QUE PONE "app.get('/', function(req, res)" -->
    <div class = "quejitas"> <!-- aqui meto los valores que iteran con i y los campos de QUEJAS en mysql-->
      <div class="image-container">
        <img class="dashboardfoto" src="{{i.avatar}}" alt="fotito">
      </div>      
      <div class = 'dashboard-i'>
          <P>Nombre: {{i.username}}</P>
          <p>Queja: {{i.body}}</p>
          <p>Fecha: {{i.date.toDateString()}}</p>
          <a href="/queja/{{i.id}}"> Ver rant</a>
      </div>
    </div>
    {% endfor %}

</body>
{% endblock%}
