{% extends "base.html" %}

{% block main %}
<body>
    <div class="logindiv">
        <form action="/login" method="POST">
            <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
            <!-- Username -->
            <label>Usuario:</label>
            <input type="text" id="username" name="username">
            <!-- Password -->
            <label>Contraseña: </label>
            <input type="password" id="password" name="password">
            <div class="botonlog">
            <!-- Submit Button -->
                <input type="submit" value="Login">
            </div>
        </form>       
    </div>
</body>
</html>
{% endblock %}
