{% extends "base.html" %}

{% block main %}
<body>
    <div class="perfil">
        <div class = "nombreperfil">
        <h2>{{fotito.username}}</h2>
        </div>
        <div class = "circulo">
        <img  src="{{fotito.avatar}}" alt="fotito" > 
        </div>
        <div class = "home">
        <form action="/dashboard">
            <input type="submit" value="Quejas"/>
        </form>
        <div class = "cambio">
            <form action="/cambio">
                <input type="submit" value="Cambiar foto"/>
            </form>
        </div>
    </div>
</body>
</html>
{% endblock %}
