{% extends "base.html" %}
{% block main %}
<body>
      <h1>Aquí está el rant de {{quejita.username}}</h1>
      <p>Queja: {{quejita.body}}</p>
      <p>Fecha: {{quejita.date.toDateString()}}</p>
      <form action="/dashboard">
            <input type="submit" value="Quejas" />
      </form>
</body>
{% endblock %}

