{% extends "base.html" %}
{% block main %}
<body>
      <h1>Tu rant ha sido publicado {{usuario}}</h1>
      <p>Queja: {{datos.body}}</p>
      <p>Fecha: {{datos.date}}</p>
      <form action="/dashboard">
            <input type="submit" value="Quejas" />
        </form>
</body>
{% endblock %}
