{% extends "base.html" %}
{% block main %}
<body>
      <h1>{{username}} ha sido registrado correctamente!</h1>
      <form action="/">
            <input type="submit" value="Inicie sesión" />
      </form>
</body>
{% endblock %}

