{% extends "base.html" %}

{% block main %}

<body>
    <div class="registrodiv">
        <form action="/registro" method="POST" enctype="multipart/form-data">
            <input name="csrf_token" type="hidden" value="{{csrf_token}}"/>
            <!-- Username -->
            <label>Nuevo usuario:</label>
            <input type="text" id="username" name="username">
            <!-- Password -->
            <label>Nueva contraseña: </label>
            <input type="password" id="password" name="password">
            <!-- Avatar -->
            <label>Avatar:</label>
            <input type="file" name="avatar"/>
            <!-- Submit Button -->
            <div class="botonlog">
                <input type="submit" value="Registrar">
            </div>
        </form>       
    </div>
</body>



{% endblock %}


